a.boton-principal {
  background: linear-gradient(135deg,#00c9a7,#00a387);
  padding: 12px 40px;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 10px 25px rgba(0,201,167,.4);
}

a.boton-principal:hover {
  background-color: #00a387;
  transform: scale(1.05);
}

.login button {
  width: 100%;
  background-color: #00c9a7;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login button:hover {
  background-color: #00a387;
}

.login button:active {
  transform: scale(0.97);
}
