@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Momo+Trust+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Sixtyfour&family=Stack+Sans+Notch:wght@200..700&display=swap');


body{
    margin:0;
    font-family: "Epunda Slab", serif;
    background:#000000;
}

.topbar{
    background: #1eff00bb;
    color:rgb(255, 255, 255);
    padding:15px 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 5px 15px rgba(0, 255, 21, 0.877);
}

.topbar nav a{
    color:rgb(255, 255, 255);
    margin-left:40px;
    text-decoration:none;
    font-weight:500;
    transition: .3s;
}

.topbar nav a:hover {
    background-color: rgb(0, 0, 0);
    padding: 9px;
    border-radius: 20px;
    border: 1px solid rgb(87, 86, 86);
    color: #1eff00;
    transform:translateY(-5px);
}


.contenedor{
    padding:30px;
    color: white;
}

.perfil{
    margin-bottom:20px;
}

.buscador{
    width:446px;
    padding:10px;
    border-radius:10px;
    border:none;
    background:rgba(177, 177, 177, 0.623);
    margin-bottom:25px;
    font-size:15px;
}

input::placeholder{
    color: white;
    opacity: 1;
    font-family: "Epunda Slab", serif;
}

input:focus {
    outline: 2px solid #1eff00;
    color: white;
}

.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:rgba(177, 177, 177, 0.623);
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    text-decoration: none;
    cursor: pointer;
    color: #1eff00bb;
}

.card:hover {
        transition: .3s;
        transform: scale(1.05);

}

.card img{
    width:100%;
    height:150px;
    object-fit:cover;
    transform: .3s;
}


.card h4{
    padding:10px;
    margin: 0 auto;
    transition: .3s;
}

.card h4:hover {
        color: rgb(255, 255, 255);
}


.card p{
    padding:0 10px 10px;
    font-size:14px;
    color:#ffffff;
}

