@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Momo+Trust+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Sixtyfour&family=Stack+Sans+Notch:wght@200..700&display=swap');


body{
    margin:0;
    padding:20px;
    font-family: "Epunda Slab", serif;
    background:#000000;
}

header{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
    background-color: #1eff00da;
    border-radius: 15px;
    box-shadow:0 4px 10px rgb(23, 255, 2);
}

header a{
    text-decoration:none;
    color:#ffffff;
    padding: 10px;
    font-weight:bold;
}

header a:hover{
    color: rgb(143, 142, 142);
    transition: 1s;
}

.lista{
    list-style:none;
    padding:0;
    margin-top:20px;
}

.lista li{
    width: 97%;
    background:rgb(255, 255, 255);
    padding:15px;
    border-radius:12px;
    margin-bottom:10px;
    cursor: pointer;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
    transition: .3s;
}

.cards{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:20px;
}

.card{
    display:block;
    background:rgba(172, 170, 170, 0.582);
    padding:20px;
    border-radius:15px;
    text-decoration:none;
    color:#ffffff;
    box-shadow:0 6px 15px rgba(0,0,0,.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(28, 224, 2, 0.884);
}

.card h3{
    margin:0 0 5px 0;
    color:#1eff00da;
}

.card:hover {
    background-color: #1eff00c0;   
    color: rgb(0, 0, 0); 
}

