body{
    margin:0;
    padding:20px;
    font-family:Arial;
    background:#f3f3f3;
    background-color: #b2b4b2;
}

header{
    display:flex;
    gap:15px;
    align-items:center;
    margin-bottom:15px;
}

header a{
    text-decoration:none;
    color:#00c9a7;
    font-weight:bold;
}

header a:hover{
    color: rgb(255, 255, 255);
    transition: 1s;
}
img{
    width:100%;
    max-height:500px;
    object-fit:cover;
    border-radius:15px;
    margin-bottom:15px;
}

p{
    font-size:16px;
    color:#333;
}
