.login {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 40px;
  width: 320px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: left;
  opacity: 0;
  transform: scale(0.9);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.5s ease;
}

.login h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #00c9a7;
}

.login .sub {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
  color: #ddd;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

.registro {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #ccc;
}

.registro a {
  color: #00c9a7;
  text-decoration: none;
}

.registro a:hover {
  text-decoration: underline;
}

#login:target {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

#login:target ~ #portada {
  opacity: 0;
  pointer-events: none;
}