.contenido-titulo, .login {
  position: absolute;
  inset: 0;
  z-index: 1;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  transition: all 0.5s ease;
}

h1 {
  font-size: 52px;
  color: #00c9a7;
  letter-spacing: 2px;
  text-shadow: 0 4px 20px rgba(0,0,0,.8);
}

p {
  font-size: 18px;
  margin: 5px 0;
  font-size: 17px;
  opacity: .85;
}

.datos-portada {
  margin-top: 50px;
  font-size: 15px;
  color: rgba(255,255,255,0.9);
}
