.contenido-titulo, .login {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: white;
  width: 100%;
  transition: all 0.5s ease;
}

h1 {
  font-size: 40px;
  color: #00c9a7;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

p {
  font-size: 10px;
  margin: 5px 0;
  font-size: 17px;
}

.datos-portada {
  margin-top: 50px;
  font-size: 15px;
  color: rgba(255,255,255,0.9);
}
