@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Momo+Trust+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Sixtyfour&family=Stack+Sans+Notch:wght@200..700&display=swap');

@import url(styles.css);
@import url(contenido-global/botones.css);
@import url(contenido-global/login.css);
@import url(contenido-global/portadap.css);
@import url(contenido-global/responsivo.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epunda Slab", serif;
}


:root {
  --color-principal: #1eff00bb;
}
body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-image 1.2s ease-in-out;
  background-attachment: fixed;
}


body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
