@import url(styles.css);
@import url(contenido-global/botones.css);
@import url(contenido-global/login.css);
@import url(contenido-global/portadap.css);
@import url(contenido-global/responsivo.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


:root {
  --color-principal: #00c9a7;
}
body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-image 1.2s ease-in-out;
  background-attachment: fixed;
}


body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
