a.boton-principal {
  background: linear-gradient(135deg,#00c9a7,#00a387);
  padding: 12px 40px;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 10px 25px rgba(0,201,167,.4);
}

a.boton-principal:hover {
  background-color: var(--color-principal);
  transform: scale(1.05);
}

.btn-login {
  width: 100%;
  background-color: var(--color-principal);
  display: flex;
  justify-content: center;
  border: none;
  padding: 7px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: var(--color-principal);
}

.btn-login:active {
  transform: scale(0.97);
}
