.login {
  position: fixed;
  inset: 0;
  margin: auto;
  max-width: 300px;
  height: fit-content;
  background: rgba(0,0,0,.6);
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
  transform: scale(.8);
  transition: .3s ease;
}

.login h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #00c9a7;
}

.login .sub {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
  color: #ddd;
}

input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 8px 0 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

input:focus {
  outline: 2px solid #00c9a7;
}

.registro {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #ccc;
}

.registro a {
  color: #00c9a7;
  text-decoration: none;
}

.registro a:hover {
  text-decoration: underline;
}

#login:target {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}


#login:target ~ #portada {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  z-index: 10;
}
