@media (max-width: 768px) {

  body {
    background-position: center top;
    background-attachment: scroll;
  }

  h1 {
    font-size: 32px;
  }

  .contenido p {
    font-size: 15px;
  }

  a.boton {
    font-size: 16px;
    padding: 10px 25px;
  }

  .datos {
    font-size: 12px;
    margin-top: 50px;
  }

}
